.playwrite-mx-{
  font-family: "Playwrite MX", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p{
  font-family: "Playwrite MX", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic; 
}

.titulo-centralizado{
  font-family: "Playwrite MX", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}